##########################
# Required Values 必选配置
##########################
# API_ID and API_KEY, get from: https://my.telegram.org/apps # API_ID 和 API_KEY, 从 https://my.telegram.org/apps 获取
API_ID=1234567
API_KEY=abcdefg2hijk5lmnopq8rstuvwxyz9
# Telegram bot token, from @botfather # TG 机器人的 Token, 自 @botfather 获取
BOT_TOKEN=123456789:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
# Allowed User's ids, use comma separation, set "*" will allow everyone # 允许的用户 id ，使用逗号分隔，设置为 '*' 则所有人可用
ALLOWED_USER_IDS=112113115,567568569,998997996
# SuperAdmin User's ids, use comma separation, if ALLOWED_USER_IDS has been setted to "*", this is required  # 允许的超级用户 id ，使用逗号分隔，如果已将 ALLOWED_USER_IDS 设置为 "*", 那么必须设置此项
SUPER_USER_IDS=112113115,567568569

# The cookie file path. You can chat with AI without Cookie, but Image generation still needs Cookie. # cookie 数据文件，可以不设置，但是无法使用图片生成
COOKIE_FILE=./cookie.json

##########################
# Optional Values 可选配置
##########################
# Bing AI API proxy, http/socks5 scheme, for example: socks5://127.0.0.1:1080 # Bing AI API 代理, http/socks5 协议, 例如 socks5://127.0.0.1:1080
PROXY_BING=""
# If user is not in Allowed list, this message will be sent (Can be empty String).  # 未允许用户访问时的提示信息，可为空
# Supports magic word: %user_id% (Will replaced with the user's id who acceessed).  # 魔法变量 %user_id% ，会被自动替换成访问的用户的 id
NOT_ALLOW_INFO="⚠️You(%user_id%) are not authorized to use this bot⚠️"
# The default bot name, show in welcome/help message # 默认机器人名字，在发送欢迎/帮助信息时用
BOT_NAME="PyroEdgeGpt"
# Set suggest message mode. Available value: "callbackquery", "replykeyboard", "copytext" # 设置 bot 建议消息模式，可选值 "callbackquery", "replykeyboard", "copytext"
SUGGEST_MODE=callbackquery
# Set Bing AI temperature, Available value: "creative", "balanced", "precise" # 设置 Bing AI 聊天温度，可用值: "creative", "balanced", "precise"
DEFAULT_CONVERSATION_STYLE_TYPE=creative
# Set bot response type, Available value: "normal", "stream" # 设置 tg 机器人回复模式，可选值: "normal", "stream"
RESPONSE_TYPE=stream
# Set an interval between editing messages to avoid triggering API limits. (unit: second) # 设置 stream 模式编辑消息频率，避免触发 api 限制 (单位:秒)
STREAM_INTERVAL=2
# Set log level, Available value: "DEBUG", "INFO", "WARNING", "ERROR" # 设置日志等级
LOG_LEVEL=WARNING
# Set log timezone # 设置日志时区
LOG_TIMEZONE=Asia/Shanghai
